Flask==3.0.0
stripe==7.1.0
WeasyPrint==59.0
pydyf==0.8.0
python-dotenv==1.0.0
Flask-Login==0.6.3
Werkzeug==3.0.1
gunicorn==21.2.0
pytesseract==0.3.13
google-genai==2.10.0
PyMuPDF==1.27.2.3
Pillow==12.2.0
Flask-SQLAlchemy==3.1.1
